@font-face {
    font-family: "Kollektif";
    src: url(fonts/Kollektif.ttf) format("truetype");
}

@font-face {
    font-family: "Orkney";
    src: url(fonts/Orkney-Regular.otf) format("opentype");
}

li {
    list-style: none;
}

h1 {
    padding-top: 5%;
    font-size: 70px;
    margin-bottom: 0px;
}

body {
    margin:0;
    height: 100%;
    width: 100%;
    font-family: Orkney;
    overflow-x: hidden;
}

.container-fluid {
    padding: 0;
}

#pic {
    max-width: 30vh;
    padding: 0 2% ;
}

a {
    color: #7A7A7A;
}

.parallax-1, .parallax-2 {
    /*margin-top: 51px;*/
    position: relative;
    opacity: 0.85;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.parallax-1 {
    min-height: 10vh;
}

.parallax-2 {
    min-height: 10vh;
}


.headerbox h1 {
    background-color: #FFF;
    color: #000;
    padding: 18px;
    font-size: 80px;
    letter-spacing: 10px;
 }

.title-center {
    position:absolute;top:50%;
    left:50%;transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%)
}

.parallax-header p {
    color: #000;
    font-size: 30px;
}

.parallax-header {
    padding-top: 2%;
    margin-top: 2%;
    margin-bottom: 0;
 }

.banner {
    letter-spacing: 10px;
}

p, ul{
    font-size: 1.2em;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 50px;
}

h4 {
    font-size: 2em;
}

.imgsquare {
    height: 100%;
    width: 100%;
}

.imgwrap {
  position: relative;
  height: 100%;
  width: 100%;
}

.imgwrap a {
    text-decoration: none;
    color: #FFF;
}

.imgDescription {
  background: #000;
  position: absolute;
  visibility: hidden;
  text-align: center;
  top: 50%;
  height: 100%;
  width: 100%;
  transform: translate(0%, -50%);
  opacity: 0;
  transition: .5s ease;
}

.imgwrap:hover .imgDescription {
  visibility: visible;
  opacity: 0.8;
  border-radius: 15px;
}

.navbar ul{
    font-size: 17px;
    font-family: Kollektif;
    text-align: center;
}

.navbar.navbar-default {
    background: #FFFFFF;
    border: 0;
    top: 0;
    z-index: 10;
    display: block;
    position: fixed;
    margin-bottom: 0px;
    width: 100%;
}

.skillslist li {
    list-style-type: none;
    text-decoration: none;
}

.footer {
    margin-top: 2%;
    background-color: #636363;
    height:5vh;
    width: 100%;
    color: #FFF;
}

@media (max-width: 640px) {
    .parallax1 .parallax2 {
        background-attachment: scroll;
    }
}
