@font-face {
    font-family: "Kollektif";
    src: url(fonts/Kollektif.ttf) format("truetype");
}

@font-face {
    font-family: "Orkney";
    src: url(fonts/Orkney-Regular.otf) format("opentype");
}


h1 {
    padding-top: 5%;
    font-size: 70px;
    margin-bottom: 0px;
}

body {
    margin:0;
    height: 100%;
    width: 100%;
    font-family: Orkney;
}

.container-fluid {
    padding: 0;
}

#pic {
    max-width: 300px;
    padding: 2% 2% ;
}

a {
    color: #7A7A7A;
}

.parallax-1, .parallax-2, .parallax-3 {
    margin-top: 51px;
    position: relative;
    opacity: 0.85;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.parallax-1 {
    background-image: url("../images/clocktower.JPG");
    min-height: 100vh;
}

.parallax-2 {
    background-image: url("../images/westcampus.JPG");
    min-height: 30vh;
}

.parallax-3 {
    background-image: url("../images/westcampus2.JPG");
    min-height: 30vh;
}

.headerbox h1 {
    background-color: #111;
    color: #FFF;
    padding: 18px;
    font-size: 80px;
    letter-spacing: 10px;
 }

.parallax-header p {
    color: #FFFFFF;
    font-size: 30px;
}

.projimg {
    float: right;
    border-radius: 15px;
}

.banner {
    letter-spacing: 20px;
}

p, ul{
    font-size: 20px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 50px;
}

.navbar ul{
    font-size: 17px;
    font-family: Kollektif;
    text-align: center;
}

.navbar.navbar-default {
    background: #FFFFFF;
    border: 0;
    top: 0;
    z-index: 10;
    display: block;
    position: fixed;
    margin-bottom: 0px;
    width: 100%;
}

.skillslist li {
    list-style-type: none;
    text-decoration: none;
}

@media (max-width: 640px) {
    .parallax1 .parallax2 {
        background-attachment: scroll;
    }
}
