@font-face {
    font-family: "Kollektif";
    src: url(fonts/Kollektif.ttf) format("truetype");
}

@font-face {
    font-family: "Orkney";
    src: url(fonts/Orkney-Regular.otf) format("opentype");
}


h1 {
    font-size: 70px;
    margin-bottom: 0px;
}

body {
    margin:0;
    height: 100%;
    width: 100%;
    font-family: Orkney;
}

#pic {
    border-radius: 50%;
    max-width: 300px;
}

a {
    color: #7A7A7A;
}

.projimg {
    float: right;
    border-radius: 15px;
}

.content {
    display:none;
    position: relative;
    padding-top: 2.5%;
    z-index: 0;
}

.content p, .content ul{
    font-size: 20px;
    text-align: justify;
    padding: 0px 17.5%;
}

.content h2 {
    font-size: 40px;
    text-align: center;
    padding-top: 30px;
}

.content h3 {
    padding-left: 10%;
}

.navhead {
    font-family: Kollektif;
    text-align: center;
}

.navbar.navbar-default {
    top: 0;
    z-index: 10;
    display: block;
    position: fixed;
    width: 100%;
}

.footertext {
    font-size: 10px;
    padding-top: 5%;
}

@media {
    body {
        overflow-x: hidden;
    }

    .content p, .content ul {
        text-align: center;
    }
    
    .content {
        padding-top: 2%
    }

    #resume {
        height: 60vh;
    }
}