/**{
    border: 1px solid;
}*/


.col-centered{
    float: none;
    margin: 0 auto;
}

.literallyjustpadding {
    margin-top: 4.5vh;
}

li {
    list-style: none;
}

h1 {
    padding-top: 5%;
    font-size: 70px;
    margin-bottom: 0px;
}

body {
    margin:0;
    height: 100%;
    width: 100%;
    font-family: Rubik, sans-serif;
    overflow-x: hidden;
}

.container-fluid {
    padding: 0;
}

.icon-pic {
    margin: 1% 0%;
    border-radius: 5px;
    width:40px;
    height:40px;
}

.pic {
    border-radius: 10px;
    max-width: 23vh;
    max-height: 23vh;
}

a {
    color: #7A7A7A;
}

.headerbox h1 {
    font-size: 80px;
    letter-spacing: 4px;
 }

.parallax-header {
    margin-bottom: 0;
 }

.content-section {
    width: 50%;
  margin: 0 auto;}

.project-item {
    margin-top: 10%;
}

.project-item button {
    border: none;
    text-decoration: underline;
}

.misc-item {
    margin-bottom: 60%;
}

.float-left {
    float: left;
    margin-right: 5%;
}

.modal-img {
    max-width: 40vh;
    max-height: 22.5vh;
    display: block;
    margin: 2% auto;
}

.modal-descr p {
    font-size: 1.1em;
}

.list-item {
    margin-top: 5%;
}

.force-line {
    display: inline-block;
}

.contain-text {
    display: inline-block;
 }

.icons-section {
  display: flex;
  justify-content: space-between;
}

p, ul{
    font-size: 1.3em;
}

h3 {
    font-size: 1.6em;
}

button {
  text-align: center;
  text-decoration: underline;
  margin: auto;
  background: #FFF;
  border: #FFF;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/*
button:hover {
    background-color: #d6d7d8;
}*/