/**{
    border: 1px solid;
}
*/
@font-face {
    font-family: "Kollektif";
    src: url(fonts/Kollektif.ttf) format("truetype");
}

@font-face {
    font-family: "Orkney";
    src: url(fonts/Orkney-Regular.otf) format("opentype");
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.literallyjustpadding {
    margin-top: 18vh;
}

/*.main-content {
    border-radius: 25px;
    border: 2px solid #BABABA;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 }*/

li {
    list-style: none;
}

h1 {
    padding-top: 5%;
    font-size: 70px;
    margin-bottom: 0px;
}

body {
    margin:0;
    height: 100%;
    width: 100%;
    font-family: Orkney;
    overflow-x: hidden;
}

.container-fluid {
    padding: 0;
}

.icon-pic {
    margin: 1% 0%;
    border-radius: 5px;
}

.pic {
    border-radius: 25px;
    max-width: 23vh;
    max-height: 23vh;
    margin: 2% 2%;
    float:left;
}

a {
    color: #7A7A7A;
}

.main-list {
    margin-bottom: 15%;
}

.headerbox h1 {
    font-size: 80px;
    letter-spacing: 4px;
 }

.parallax-header {
    margin-bottom: 0;
 }

.content-section {
    padding-top: 2%;
}

.project-item {
    margin-top: 10%;
}

.project-item button {
    border: none;
    text-decoration: underline;
}

.misc-item {
    margin-bottom: 60%;
}

.float-left {
    float: left;
    margin-right: 5%;
}

.modal-img {
    max-width: 40vh;
    max-height: 22.5vh;
    display: block;
    margin: 2% auto;
}

.modal-descr p {
    font-size: 1.1em;
}

.list-item {
    margin-top: 5%;
}

.force-line {
    display: inline-block;
}

.contain-text {
    display: inline-block;
 }

.icons-section {
  display: flex;
  justify-content: space-between;
}

p, ul{
    font-size: 1.3em;
}

h3 {
    font-size: 1.6em;
}

button {
  text-align: center;
  margin: auto;
  background: #FFF;
  border-radius: 25px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

button:hover {
    background-color: #d6d7d8;
}